In [14]:
from utils.loader import USAGE, BENEFITS, FEEDBACK, EMPLOYEES
from usage_process import average_utilization
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
feedback = FEEDBACK.drop_duplicates().drop(columns='Comments')
feedback= feedback.groupby(['EmployeeID','BenefitID'], as_index=False).mean().reset_index()
feedback= feedback.merge(BENEFITS, on='BenefitID')

In [16]:
feedback.drop(columns='index')

,EmployeeID,BenefitID,SatisfactionScore,BenefitType,BenefitSubType,BenefitCost
0,1,3,1.0,Commuter Benefits,Transit Subsidy,325.00
1,1,8,5.0,Wellness Programs,Premium Discount Tier 1,125.00
2,1,14,2.0,Gym Membership,Tier 1 Partners,73.36
3,1,18,3.0,Retirement Plan,401k Investment Fees,743.01
4,1,22,3.0,Health Insurance,HMO Family,624.00
...,...,...,...,...,...,...
27175,5000,7,5.0,Flexible Spending Account,Healthcare FSA,450.00
27176,5000,19,5.0,Gym Membership,Tier 2 Partners,343.73
27177,5000,22,5.0,Health Insurance,HMO Family,624.00
27178,5000,24,4.0,Gym Membership,Tier 3 Partners,780.78
27179,5000,25,4.0,Life Insurance,Supplemental Standard,774.91

In [17]:
feedback_by_SubType = feedback[['BenefitID', 'SatisfactionScore']].groupby(['BenefitID'], as_index=False).mean()

In [18]:
feedback_by_SubType.sort_values(by='SatisfactionScore', ascending=False)

    BenefitID  SatisfactionScore
6           7           3.147443
4           5           3.075492
28         29           3.064516
25         26           3.062726
13         14           3.053371
7           8           3.046145
27         28           3.044210
12         13           3.039720
2           3           3.034862
14         15           3.033140
15         16           3.031077
17         18           3.020109
16         17           3.014428
24         25           3.010487
23         24           3.006859
3           4           3.006297
18         19           2.997691
11         12           2.986383
5           6           2.985804
1           2           2.982017
8           9           2.975174
20         21           2.967816
10         11           2.963974
26         27           2.957122
29         30           2.949772
9          10           2.940118
21         22           2.938611
19         20           2.937009
0           1           2.936237
22         23           2.922198

In [19]:
feedback_by_Type = feedback[['BenefitType', 'SatisfactionScore']].groupby(['BenefitType'], as_index=False).mean()

In [20]:
feedback_by_Type.sort_values(by='SatisfactionScore', ascending=False)

                  BenefitType  SatisfactionScore
3   Flexible Spending Account           3.147443
9          Technology Stipend           3.075492
11          Wellness Programs           3.046145
0        Cell Phone Allowance           3.039720
2           Commuter Benefits           3.034862
4              Gym Membership           3.030612
1                   Childcare           3.000179
8             Retirement Plan           2.986562
6              Life Insurance           2.985940
5            Health Insurance           2.978867
10      Tuition Reimbursement           2.975280
7    Professional Development           2.975174

Demographics

In [21]:
feedback.shape

(27180, 7)

In [22]:
df = feedback.merge(EMPLOYEES, on='EmployeeID')

In [23]:
bins = [17, 25, 41, 57, float('inf')]
labels = ['Gen-z', 'Millennial', 'Gen-X', 'Boomer']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels)

In [24]:
bins = [0, 5, 15, float('inf')]
choices = ['short', 'medium', 'long']

df['TenureType'] = pd.cut(df['Tenure'], bins=bins, labels=choices)

In [25]:
df

,index,EmployeeID,BenefitID,SatisfactionScore,BenefitType,BenefitSubType,BenefitCost,Age,Gender,Department,Tenure,AgeGroup,TenureType
0,0,1,3,1.0,Commuter Benefits,Transit Subsidy,325.00,62,Male,IT,8,Boomer,medium
1,1,1,8,5.0,Wellness Programs,Premium Discount Tier 1,125.00,62,Male,IT,8,Boomer,medium
2,2,1,14,2.0,Gym Membership,Tier 1 Partners,73.36,62,Male,IT,8,Boomer,medium
3,3,1,18,3.0,Retirement Plan,401k Investment Fees,743.01,62,Male,IT,8,Boomer,medium
4,4,1,22,3.0,Health Insurance,HMO Family,624.00,62,Male,IT,8,Boomer,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27175,27175,5000,7,5.0,Flexible Spending Account,Healthcare FSA,450.00,63,Male,Sales,32,Boomer,long
27176,27176,5000,19,5.0,Gym Membership,Tier 2 Partners,343.73,63,Male,Sales,32,Boomer,long
27177,27177,5000,22,5.0,Health Insurance,HMO Family,624.00,63,Male,Sales,32,Boomer,long
27178,27178,5000,24,4.0,Gym Membership,Tier 3 Partners,780.78,63,Male,Sales,32,Boomer,long
27179,27179,5000,25,4.0,Life Insurance,Supplemental Standard,774.91,63,Male,Sales,32,Boomer,long

In [29]:
feedback_by_Age = df[['AgeGroup', 'SatisfactionScore']].groupby(['AgeGroup'], as_index=False).mean()

/var/folders/4z/59z7pkgj7csd3hvms1d3bqbr0000gn/T/ipykernel_10677/59756269.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  feedback_by_Age = df[['AgeGroup', 'SatisfactionScore']].groupby(['AgeGroup'], as_index=False).mean()

In [30]:
feedback_by_Age

     AgeGroup  SatisfactionScore
0       Gen-z           2.966551
1  Millennial           3.004157
2       Gen-X           3.006259
3      Boomer           3.018222

In [32]:
feedback_by_tenure = df[['TenureType', 'SatisfactionScore']].groupby(['TenureType'], as_index=False).mean()

/var/folders/4z/59z7pkgj7csd3hvms1d3bqbr0000gn/T/ipykernel_10677/1679832872.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  feedback_by_tenure = df[['TenureType', 'SatisfactionScore']].groupby(['TenureType'], as_index=False).mean()

In [33]:
feedback_by_tenure

  TenureType  SatisfactionScore
0      short           2.977876
1     medium           2.999582
2       long           3.031411

In [34]:
feedback_by_Gender = df[['Gender', 'SatisfactionScore']].groupby(['Gender'], as_index=False).mean()

In [35]:
feedback_by_Gender

       Gender  SatisfactionScore
0      Female           3.004954
1        Male           2.997408
2  Non-Binary           3.143773