In [2]:
from utils.loader import USAGE, BENEFITS, FEEDBACK
from usage_process import average_utilization
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Loaded 50000 benefits usage data!
Loaded 50000 employees benefits usage data!

In [16]:
feedback = FEEDBACK.drop_duplicates().drop(columns='Comments')
feedback= feedback.groupby(['EmployeeID','BenefitID'], as_index=False).mean().reset_index()

In [18]:
feedback.drop(columns='index')

       EmployeeID  BenefitID  SatisfactionScore
0               1          3                1.0
1               1          8                5.0
2               1         14                2.0
3               1         18                3.0
4               1         22                3.0
...           ...        ...                ...
27175        5000          7                5.0
27176        5000         19                5.0
27177        5000         22                5.0
27178        5000         24                4.0
27179        5000         25                4.0

[27180 rows x 3 columns]

In [27]:
feedback[['BenefitID', 'SatisfactionScore']].groupby(['BenefitID'], as_index=False).mean().sort_values(by='SatisfactionScore')

    BenefitID  SatisfactionScore
22         23           2.922198
0           1           2.936237
19         20           2.937009
21         22           2.938611
9          10           2.940118
29         30           2.949772
26         27           2.957122
10         11           2.963974
20         21           2.967816
8           9           2.975174
1           2           2.982017
5           6           2.985804
11         12           2.986383
18         19           2.997691
3           4           3.006297
23         24           3.006859
24         25           3.010487
16         17           3.014428
17         18           3.020109
15         16           3.031077
14         15           3.033140
2           3           3.034862
12         13           3.039720
27         28           3.044210
7           8           3.046145
13         14           3.053371
25         26           3.062726
28         29           3.064516
4           5           3.075492
6           7           3.147443