In [2]:
from preprocess.loader import DATA

In [3]:
DATA

,EmployeeID,Age,Gender,Department,Tenure,BenefitID,UsageFrequency,LastUsedDate,BenefitType,BenefitSubType,BenefitCost,SatisfactionScore,Comments
0,1,62,Male,IT,8,9,5,2023-08-27,Professional Development,Conference Attendance,850.00,NaN,NaN
1,1,62,Male,IT,8,17,3,2024-07-02,Retirement Plan,401k Catch-Up Contributions,509.65,NaN,NaN
2,1,62,Male,IT,8,16,5,2023-09-16,Health Insurance,HDHP Individual,84.55,NaN,NaN
3,1,62,Male,IT,8,13,0,2024-04-16,Cell Phone Allowance,Monthly Communications,65.00,NaN,NaN
4,1,62,Male,IT,8,26,0,2024-03-27,Gym Membership,Family Membership,519.66,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50931,5000,63,Male,Sales,32,14,7,2024-04-10,Gym Membership,Tier 1 Partners,73.36,NaN,NaN
50932,5000,63,Male,Sales,32,5,3,2024-07-07,Technology Stipend,Monthly Internet Allowance,75.00,NaN,NaN
50933,5000,63,Male,Sales,32,29,0,2024-04-26,Childcare,After-School Care,475.00,NaN,NaN
50934,5000,63,Male,Sales,32,26,5,2024-05-25,Gym Membership,Family Membership,519.66,NaN,NaN
50935,5000,63,Male,Sales,32,2,5,2023-11-09,Health Insurance,PPO Individual,706.93,NaN,NaN

In [4]:
DATA.isnull().sum()

EmployeeID               0
Age                      0
Gender                   0
Department               0
Tenure                   0
BenefitID                0
UsageFrequency           0
LastUsedDate             0
BenefitType              0
BenefitSubType           0
BenefitCost              0
SatisfactionScore    41104
Comments             41104
dtype: int64